@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
    border: 1px solid #e5e7eb;
    padding: 0.75rem;
    border-radius: 0.5rem;
    width: 100%;
    outline: none;
}

.input:focus {
    border-color: #1a0a19;
}



:root {
    --primary-color: #3E153D;
    --secondary-color: #471C46;
    --accent-color: #F2BF14;
    --accent-color-less: #fff6d8e6;
    --background-gray: #471c4630;
    --text-black: #2F2F2F;
}

body {
    font-family: "Nunito", sans-serif;
}

body>section,
footer, header > main{
    padding: 20vh 15vw;
}

nav {
    padding: 0vh 15vw;
}


#quiénessomos .contenedor {
    padding: 20vh 15vw;
    padding-right: 0;
}


footer {
    background-color: var(--primary-color);
}

.font-dm {
    font-family: "DM Sans", sans-serif;
}

h1 {
    font-weight: 900;
    color: var(--text-black);
    font-family: "DM Sans", sans-serif;
}

header {
    background-image: url('../../public/images/portada.jpg');
    background-size: cover;
    background-position: center;
}

header nav {
    background-color: var(--text-black);
}

header main {
    height: auto;
    background: color-mix(in srgb, #442304 60%, transparent);
}

nav ul li {
    color: white;
}

#btn-primary {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border-radius: 40px;
    padding: 10px 30px;
}

#btn-primary:hover {
    background-color: var(--accent-color-less);
}

#soluciones {
    background-color: var(--secondary-color);
}

#explorar {
    color: var(--text-black);
}

#contacto {
    color: var(--text-black);
}


#valores {
    font-family: "DM Sans", sans-serif;
    background-color: var(--accent-color-less);
    border-radius: 20px;
    margin: 5px;
    padding: 2vh 6vh;
    color: var(--accent-color);
}

#valores p {
    line-height: 120%;
}

#valores h3 {
    line-height: auto;
    font-family: "DM Sans", sans-serif;
}

.card-servicio {
    min-width: 280px;
    padding: 24px;
    height: 50vh;
    border-radius: 16px;
    background: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease;
}

.card-servicio:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Celular */
@media (max-width: 768px) {

    body>section,
    footer {
        padding: 10vh 8vw;
    }

    #quiénessomos .contenedor {
        padding: 8vh 10vw;
    }

    #soluciones .span-tag,
    #explorar .span-tag,
    #contacto .span-tag,
    #quiénessomos .span-tag {
        padding: 0.5vh 2vh;
    }
}